$small: 500px;

.wraped{
  top:100%;
  transition: top 1s ; 
}

nav{
  position: absolute;
  top:-1000%;
  transition: top 1s ; 
  right: 0;
  background: grey;
  width: 100%;
  ul{
    margin:0;
    padding:0px;
    li{
      display: block;
      margin: 10px;
      a{
        color: white;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: $small){
  nav{
    top:50% !important;
    transform: translateY(-50%);
    text-align: right;
    background: transparent;
    ul{
      li{
        display: inline;
      }
    }
  }
}