$small: 500px;

nav{
  position: absolute;
  top:100%;
  right: 0;
  background: grey;
  width: 100%;
 
  ul{
    margin:0;
    padding:0px;

    li{
      display: block;
      margin: 10px;
      
      a{
        color: white;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: $small){
  nav{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  float: right;
  text-align: right;
  background: transparent;
    ul{
      li{
        display: inline;
      }
    }

  }
}