nav{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  right: 0;

  ul{
    margin:0;
    li{
      display: inline;
      margin: 10px;
      a{
        color: white;
        text-decoration: none;
      }
    }
  }
}